<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace에는 인터페이스 풀 네임(패키지+인터페이스이름) -->
<mapper namespace="com.spring.mvc.mybatis.PersonMapper">

<!--  SQL 작성: 추상메서드 별로 작성  -->
<!--    id에는 추상메서드 이름을 적습니다. -->
    <insert id="save">
        INSERT INTO person
            (person_name, person_age)
        VALUES (#{personName}, #{personAge})
    </insert>

    <update id="change">
        UPDATE person
        SET person_name = #{personName}, person_age = #{personAge}
        WHERE id = #{id}
    </update>

    <delete id="remove">
        DELETE FROM person
        WHERE id = #{id}
    </delete>

<!--    ORM: 자바객체 필드랑 테이블 컬럼을 매핑 -->
    <resultMap id="person" type="com.spring.mvc.jdbc.Person">
        <result property="personName" column="person_name" />
        <result property="personAge" column="person_age" />
    </resultMap>

    <select id="findAll" resultMap="person">
        SELECT * FROM person
    </select>

    <select id="findOne" resultMap="person">
        SELECT * FROM person
        WHERE id = #{id}
    </select>

</mapper>